{if $g_demo eq 'True'}
<script type="text/javascript"><!--
 google_ad_client = "ca-pub-3696425351841264";
 /* 728x90_ODM_Demo */
 google_ad_slot = "8419809005";
 google_ad_width = 728;
 google_ad_height = 90;
 //-->
 </script>
 <script type="text/javascript"
 src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
 </script>
{/if}
      <hr>

      <footer style="text-align:center">
          <a href="#">
                <img src="{$g_base_url}/images/logo.gif" title="{$site_title|escape:'html'}" alt="{$site_title|escape:'html'}" border="0">
            </a>
        <p>Copyright &copy; 2019 Due Process & Project Monitoring Bureau</p>
      </footer>

    </div> <!-- /container -->   
    <script type="text/javascript" src="{$g_base_url}/templates/tweeter/js/bootstrap.min.js"></script>
</body>
</html>

